<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Delete Protein</h2>
        <div class="d-flex justify-content-around" style="margin-top: 20px">
			<form class="form-group" method="POST" novalidate action="{% url 'dbmanager' %}">
				{{delete_protein_form}}
				{% csrf_token %}
				<button type="submit" style="margin-top: 10px;"class="btn btn-success">Delete Protein</button>
			</form>
        </div>
    </div>
</div>
</body>
</html>